body {
    padding-top: 70px;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}
/* --- Extra --- */

.no-margin {
    margin: 0px;
}

.small-margin {
    margin: 1em;
}

.small-margin-top {
    margin-top: 1em;
}

.small-margin-bottom {
    margin-bottom: 1em;
}

.small-margin-left {
    margin-left: 1em;
}

.small-margin-right {
    margin-right: 1em !important;
}


@media (max-width: 768px)
{
	.small-margin-right {
		margin-right: 0px !important;
	}
}

.small-margin-vertical {
    margin-top: 1em;
    margin-bottom: 1em;
}

.no-padding {
    padding: 0px;
}

@media (max-width: 768px)
{
	.no-padding-mobile {
		padding: 0px !important;
	}
	
	.text-center-mobile {
		text-align: center;
	}
}

.no-padding-left {
    padding-left: 0px;
}

.medium-padding-top {
	padding-top: 1em;
}

.no-border {
	border: 0px;
}

img.slide-image,
img .item {
    height: 450px !important;
    width: 850px;
}